body{
	margin: 0;
	padding: 0;
	/* overflow: scroll; */
	user-select: none;
	
	background-color: none !important;
	/* background-image: url("../img/white-waves.png") !important; */
	/* background: #f0f0f0 !important; */
	background: #fff !important;
	font-family: Montserrat, sans-serif;
	font-size: 13px;
	font-weight: 300;
}
.header{
	position: fixed;
	/* z-index: 9999; */
	background: rgba(255, 255, 255, .9);
	/* box-shadow: 0px 5px 800px #999; */
}
a{
	text-decoration: none !important;
	color: #4a4a4a !important;
}


.nav > li > a{
	background: none !important;
}
.nav > li > a:focus{
	background: none !important;
}
.nav > li > a:hover{
	background: none !important;
	color: #000 !important;
	/* transition: .2s !important; */
}
.nav > li > a:active{
	background: none !important;
}


.container-fluid{
	margin: 0;
	padding: 0;
	/* border-bottom: 1px solid #ddd; */
}
.logo{
	font-family: 'Playfair Display', serif;
	font-size: 28px;
	font-weight: 900;
	letter-spacing: -1px;
	color: #777;
}
.logo{
	padding-top: 50% auto;
}
.logo:hover{
	color: #666;
	transition: .2s;
}
.pipe-line{
	width: 2px;
	height: 20px;
	margin: 16px 10px;
	background: #ddd;
}
.list > li > a{
	padding-top: 16px;
	color: #4a4a4a;
}
.list .become-a-member{
	font-weight: 200;
}
.icon-alignment{
	padding: 18px 20px;
	color: #bbb;
	font-weight: 100;
}
.icon-alignment:hover{
	color: #777;
	transition: .2s;
}
.search-button{
	outline: none;
	text-decoration: none;
	border: none;
	background: rgba(255, 255, 255, 0);
}
.bread-crumbs{
	margin-top: 60px;
	padding-left: 30px;
	/* padding: 0; */
	/* margin: 0; */
	display: flex;
}
.bread-crumbs > li{
	/* padding: 5px 0 0 0; */
	color: #a5a5a5;
	padding-right: 12px;
	font-size: 12px;
	text-decoration: none;
	list-style: none;
}
.bread-crumbs > li > a{
	text-decoration: none;
	color: #a5a5a5;
}
.bread-crumbs .arrow{
	color: #a5a5a5;
}
.bread-crumbs .arrow:hover{
	color: #a5a5a5;
}
.bread-crumbs > li > a:hover{
	text-decoration: none;
	color: #666;
}
/* Верстка input-search */
.input-search {
	padding: 0;
	margin: 0;
	width: 0;
	outline: none;
	border: none;
	/* border-bottom: 1px solid #ddd; */
	background: transparent;
	font-weight: 300;
	font-size: 13px;
	transition: all 0.3s ease;
}
.input-search.active {
	width: 240px;
}
input::placeholder {
	font-family: Montserrat, sans-serif;
	font-size: 13px;
	font-weight: 300;
	color: #a5a5a5;
}

/* .article-block-image */
.article-block-image{ 
	border-radius: 5px;
	/* margin-top: 40px; */
	/* height: 280px; */
	background-image: url("../img/metro.jpeg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.art-image{
	padding: 0;
	margin: 0;
}
/* .article-block-image */

/* .first-article-block-text */
.first-article-block-text{ 
	border-radius: 5px;
	/* margin-top: 40px; */
	padding-top: 30px !important;
	padding-right: 20px !important;
	padding-bottom: 50px !important;
	padding-left: 20px !important;
	/* padding: 25px 0 0 0; */
	/* height: 280px; */
	background-image: url("../img/white-waves.png");
	/* background: #f3f3f3; */
	box-shadow: 6px 6px 200px #e0e0e0;
	position: relative;
	padding-bottom: 25px;
}
/* .first-article-block-text */

/* .last-article-block-text */
.last-article-block-text{ 
	border-radius: 5px;
	/* margin-top: 40px; */
	padding-top: 30px !important;
	padding-right: 20px !important;
	padding-bottom: 50px !important;
	padding-left: 20px !important;
	/* padding: 25px 0 0 0; */
	/* height: 280px; */
	background-image: url("../img/white-waves.png");
	background: #f3f3f3;
	box-shadow: 6px 6px 200px #e0e0e0;
	position: relative;
	padding-bottom: 25px;
}
.last-article-block-text span{
	font-size: 16px;
	color: #919191;
}
/* .last-article-block-text */

.read-button{
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 50%,rgba(125,185,232,0) 100%);
}
.read-button > a{
	line-height: 30px;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: .3em;
	text-decoration: none !important;
	color: #cacaca !important;
}
.read-button > a:active{
	text-decoration: none !important;
	color: #cacaca !important;
}
.article-title{
	text-align: left;
	font-weight: 600;
	font-size: 30px;
	line-height: 28px;
}
.article-details{
	padding: 0;
	margin-top: 20px;
	height: 50px;
	/* background: #572b2b; */
}
.author{
	padding-left: 0;
	/* margin: .4em 0; */
}
.article-author{
	font-weight: 200;
	color: #aaa9a9;
	font-size: 12px;
}
.article-author-name{
	line-height: 15px;
	font-weight: 300;
	color: #aaa9a9;
	display: block;
	font-size: 14px;
}
.pipe{
	margin: 0 0 0 28px;
	width: 2px;
	height: 50px;
	background: #ebebeb;
}
.article-pub-string{
	font-weight: 200;
	color: #aaa9a9;
	font-size: 12px;
}
.article-pub-date{
	line-height: 15px;
	font-weight: 300;
	color: #aaa9a9;
	display: block;
	font-size: 14px;
}
.views-comments-icons {
	padding: 0;
	margin-top: 20px;
	height: 30px;
	/* background: #124155; */
	position: relative;
}
.comments-column, .views-column{
	/* background: #ccc; */
	padding: 0;
	height: 30px;
	margin: 0;
}
.comments-column > span{
	color: #aaa9a9;
	position: absolute;
	top: 10%;
	left: 35%;
	font-size: 13px;
}
.comments-icon{
	position: absolute;
	top: 15%;
	left: 0%;
	width: 18px;
	height: 18px;
	transform: scale(-1, 1);
}
.views-icon{
	position: absolute;
	top: 15%;
	left: 0%;
	width: 20px;
	height: 20px;
}
.views-column > span{
	color: #aaa9a9;
	position: absolute;
	top: 10%;
	left: 35%;
	font-size: 13px;
}
.first-article-block-text{
	padding-left: 40px !important;
	padding-right: 40px !important;
	text-align: left;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6em;
	letter-spacing: .025em;
}
.last-article-block-text{
	padding-left: 40px !important;
	padding-right: 40px !important;
	text-align: left;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5em;
	letter-spacing: .025em;
}
/* ----------Slider---------- */
.carousel{
	box-shadow: 6px 6px 200px #e0e0e0;
	border-radius: 5px !important;
	padding: 0 !important;
	height: 260px;
	margin-top: 30px;
}
.carousel-control.left{
	background: none;
	filter: none;
}
.carousel-control.right{
	background: none;
	filter: none;
}
.glyphicon.glyphicon-chevron-right{
	font-size: 25px;
	font-weight: 100;
	color: #cecece;
	text-shadow: none;
}
.glyphicon.glyphicon-chevron-left{
	font-size: 25px;
	font-weight: 100;
	color: #cecece;
	text-shadow: none;
}
.glyphicon.glyphicon-chevron-left:active{
	background: none;
	color: none;
	opacity: 1;
}
.glyphicon.glyphicon-chevron-left:hover{
	background: none;
	color: none;
	opacity: 1;
}
.glyphicon.glyphicon-chevron-right:active{
	background: none;
	color: none;
	opacity: 1;
}
.glyphicon.glyphicon-chevron-right:hover{
	background: none;
	color: none;
	opacity: 1;
}
.right.carousel-control:hover{
	background: none;
	color: none;
	opacity: 1;
}
/* ----------Slider---------- */

/*---------- Стили для страницы статьи ----------*/
.article-content-container{
	/* padding-right: 30px;  */
	margin-bottom: 50px;
}

.article-title-image{
	/* border-radius: 5px; */
	margin-top: 30px;
	height: 500px;
	padding: 0;
	display: block;
	object-fit: cover;
	/* background-image: url("../img/metro.jpeg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; */
	box-shadow: 6px 6px 200px #e0e0e0;
}

/* .article-icons{
	visibility: hidden;
}
.article-icons > ul{
	padding: 0;
	margin: 0;
}
.article-icons > ul > li{
	text-decoration: none;
	list-style: none;
}
.article-icons > ul > li > img{
	display: block;
	margin: 5px auto;
	width: 30px;
	height: 30px;
}
.article-icons > ul > li > span{
	display: block;
	float: center;
	text-align: center;
} */

.article-title{
	/* padding: 0; */

	margin-top: 70px;
	/* height: 140px; */
	font-family: 'Playfair Display', serif;
	font-size: 35px;
	font-weight: 700;
	line-height: 1.2em;
	/* letter-spacing: -1px; */
	/* color: #777; */
}
.article-title_article{
	/* padding: 0; */

	margin-top: 70px;
	/* height: 140px; */
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2em;
	/* letter-spacing: -1px; */
	/* color: #777; */
}
.details{
	/* padding: 0; */
	margin-top: 50px;
}
.details-name{
	display: block;
	font-size: 20px;
	height: 80px;
}
.detail-date{
	line-height: 2em;
	display: block;
	font-size: 13px;
	color: #777;
}
.text{
	margin-top: 50px;
	
}
.text > span{
	color: #797979;
	line-height: 1.65em;
	letter-spacing: .012em;
	font-size: 18px;
	font-weight: 300;
}

.article-footer{
	margin-top: 70px;
	/* border-top: 1px solid #ddd; */
}
.footer-line{
	border-top: 1px solid #ddd;
}
.tags{
	padding-right: 15px;
	/* padding-left: 0; */
	padding-top: 30px;
	padding-bottom: 15px;
}
.tags > a > span{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;

	margin-right: 15px;
	border-radius: 3px;
	color: #313131;
	background: #efefef;
}
.tags > a > span:hover{
	color: #000000;
}
.another-author-articles{
	padding-right: 0;
	/* padding-left: 0; */
	padding-top: 30px;
	padding-bottom: 0;
}
.another-author-articles + span{
	padding: 0;
	display: block;
	font-size: 18px;
}
.another-author-articles > a > span{
	padding: 0;
	display: block;
	line-height: 1.5em;
	font-weight: 700;
	font-size: 20px;
}
.another-article-text-line{
	margin-top: 80px;
}
.another-article-text-line > span{
	color: #a5a5a5;
	font-size: 16px;
}

.another-articles-blocks{
	margin-top: 30px;
}
.panel.panel-default{
	border: none;
}
.mini-article-block{
	border-radius: 5px;
	background: #fffefe;
	box-shadow: 6px 6px 200px #e0e0e0;
}
.panel-body{
	padding: 0;
}
.mini-article-block-image{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0;
	border: none;
	display: block;
	height: 12vh;
	object-fit: cover;
}
.mini-article-title{
	padding-top: 20px;
}
.mini-article-title > span{
	letter-spacing: -.002em;
	font-size: 16px;
	font-weight: 300;
	color: #aaaaaa;
}
.mini-article-datail{
	padding-top: 15px;
	padding-bottom: 20px;
}
.mini-article-datail > .mini-article-author{
	font-size: 14px;
	font-weight: 300;
	color: #aaaaaa;
	display: block;
}
.mini-article-datail > .mini-article-pub-date{
	word-spacing: .5em;
	color: #aaaaaa;
}
.mini-article-datail > .mini-article-views-count{
	word-spacing: .5em;
	color: #aaaaaa;
	float: right;
}

.leave-comment-text-line{
	margin-top: 80px;
}
.leave-comment-text-line > span{
	color: #aaaaaa;
}

.leave-comment-block{
	border-radius: 3px;

	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 20px;

	background: #fffefe;
	box-shadow: 6px 6px 200px #e0e0e0;
	position: relative;
}
.leave-comment-block > span{
	color: #aaa9a9;
	
	left: 10%;
	top: 38%;
	position: absolute;
	
	color: #aaaaaa;
	font-size: 13px;
	font-weight: 300;
}
.leave-comment-icon{
	position: absolute;
	left: 5%;
	top: 30%;
	width: 30px;
	height: 30px;
	transform: scale(-1, 1);
}

.comment-block{
	border-radius: 3px;

	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 20px;

	background: #fffefe;
	box-shadow: 6px 6px 120px #e0e0e0;
	position: relative;
}
.comment-block .comment-author{
	font-weight: 300;
	color: #a5a4a4;
	font-size: 14px;
	display: block;
}
.comment-block .comment-pub-date{
	line-height: 1.6em;
	font-weight: 300;
	color: #aaa9a9;
	font-size: 13px;
	display: block;
}
.comment-block .comment-text{
	padding: 20px 0 0 0;

	font-weight: 300;
	color: #aaa9a9;
	font-size: 14px;
	display: block;
}
.toStart{
	margin-top: 50px;
	position: relative;
}
.toStart-article-line{
	border: 1px solid #dfdfdf;
}
.container.toStart > .courner-container{
	left: 53%;
	bottom: 100%;
	position: absolute;
	/* margin: auto; */
	width: 0;
	height: 0;
	border-bottom: 15px solid #dfdfdf;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.toStart-link {
	padding: 0;
	margin-top: 10px;
}
.toStart-link > .back-to-main > span{
	color: #aaa;
	text-align: left;
	float: left;
}
.toStart-link > a > span{
	color: #aaa;
	margin-left: 10px;
	margin-right: 10px;
	/* text-align: right; */
	float: right;
}
#toTop {
	cursor: pointer;
}
/*---------- Стили для страницы статьи ----------*/